:root{
    --navbar-height: 54px;
}

.page-main-container{
    height: calc(100vh - var(--navbar-height));
}

/*=========================== NAVBAR ============================*/
.navlink{
    color: white;
    text-decoration: none;
    align-items: center;
}

/*========================= AUTH / REGISTRATION ===========================*/
.auth-container{
    width: 70%;
}
.auth-error-message{
    color: red;
}

/*=======================================================*/

.typebar-item, .brandbar-item {
    transition: all .2s ease;
    cursor: pointer;
    overflow-x: hidden;
}

.typebar-item.active, .brandbar-item.active{
    background-color: darkcyan;
    border: 0px gray;
    color: white;
}

/*========================== SHOP PAGE =============================*/
.product-card {
    height: 270px;
    cursor: pointer;
    overflow-y: hidden;
}
.product-card-img{
    object-fit: contain;
    background: rgba(0, 0, 0, .03);
}

.product-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
    .product-card-subtitle {
        flex-direction: column;
        font-size: .875rem;

    }
}
@media (max-width: 1200px) {
    .product-card-title {
        font-size: 1.125rem;
    }
}
@media (max-width: 992px) {
    .product-card-title {
        font-size: 1rem;
    }
}

.product-card-rate{
    color: black;
}
.product-big-star{
    width: 240px;
    height: 240px;
    background-size: 100%!important;
    font-size: 64px;
}

.product-item-cart{
    border: 5px solid lightgray;
}
.product-item-main-image{
    object-fit: contain;
}

.cart-icon{
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    filter: invert(1);
    transition: all .2s ease;
    cursor: pointer;

}
.cart-icon:hover{
    filter: invert(0); 
    background-color: #fff;
}

.rating-container{
    width: 180px;
}

.rating-star{
    cursor: pointer;
}


/*========================== BASKET ===========================*/

.basket-count{
    margin: 0 10px;
}
.add-btn, .remove-btn{
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: 500;

}

.delete-btn {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.basket-message{
   display: flex;
   justify-content: center;
}

.basket-item-title{
    color: #000;
    text-decoration: none;
}

/*========================== LOADER ===========================*/
.loader-wrap{
    height: 100%;
    width: 100%;
    height: calc(100vh - 55px); /* header height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrap-full{
    height: 100vh;
    color: lightcyan;
}

/* =================== Bootstrap pagination =================== */
.pagination {
    --bs-pagination-color: #808080;
    --bs-pagination-hover-color: #6d6d6d;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-border-color: transparent;
    --bs-pagination-active-bg: darkcyan;
    --bs-pagination-hover-bg: lightcyan;
}
/* ====================================== */

/*============================= ADMIN PAGE ==================================*/
.simple-dropdown{
    width: fit-content;
}

.delete-device-list-wrap{
    position: absolute;
    max-height: 200px;
    padding: 0;
    overflow-y: auto;
}

.delete-device-list-item{
    height: 40px;
    overflow: hidden;
}